[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = omit_if_default:silent

# CS0649: Field 'LocalFileHeader.Compression' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none
